table {
   width: 100%;
}

th {
    font-size: 15px;
    font-weight: 600;
    width: 200px;
}

.table-toolbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.mat-row:nth-child(even) {
    background-color: #f7f7f7; /* Light color for even rows */
}

.mat-row:nth-child(odd) {
    background-color: #ffffff; /* Keep white or set a different color for odd rows */
}

.mat-mdc-row:hover {
    background-color: whitesmoke !important;
    cursor: pointer !important;
}

::ng-deep .mat-expansion-panel-header-description {
    justify-content: space-between !important;
    align-items: center !important;
}

.mat-mdc-form-field {
    font-size: 14px;
    max-width: 800px;
}

td,
th {
    width: fit-content;
}

h3 {
    margin: 0px;
}

.mat-card-table {
    border: 10px solid rgb(227, 241, 246);
    box-shadow: 0px 0px 8px rgba(52, 52, 108, 0.99);
    overflow-x: auto;
}

.rounded-label {
    width: fit-content;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgb(227, 241, 246);
    background-color: rgb(227, 241, 246);
    border-radius: 8px;
    color: black;
    font-weight: 500;
}

.header-round-border {
    border: 1px solid rgb(227, 241, 246);
    background-color: rgb(227, 241, 246);
    border-radius: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .chart-container {
    .line-highlight {
       display: block !important;
     }
}



// DEVICE-DETAIL Styles

.mat-card-details {
    border: 1px solid rgb(227, 241, 246);
    box-shadow: 0px 0px 8px rgba(52, 52, 108, 0.99);
    overflow-x: auto;
}

:host ::ng-deep .mat-expansion-panel-body{
    margin-bottom: 10px !important;
}

.device-detail-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.info-container-header {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    border: lightblue 1px solid;
    border-radius: 8px;
    background-color: rgb(227, 241, 246);
    box-shadow: 0px 0px 4px rgba(52, 52, 108, 0.2);
    padding: 10px;
    margin-bottom: 10px;
}

.info-container-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-label {
    font-weight: 600;
}

.info-value {
    font-weight: 500;
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 8px;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    
}

.device-icon .mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.category-icon {
    font-size: 22px;
    font-weight: 600;

}

// Table Cell styling for alert types

.informational-type, .warning-type, .critical-type, .system-type, .read-type, .unread-type {
    border: 1px solid;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.informational-type {
    border-color: rgba(0, 0, 255, 0.1);
    background-color: rgba(0, 0, 255, 0.1);
    color: blue;
  }
  
  .warning-type {
    border-color: rgba(255, 99, 71, 0.1);
    background-color: rgba(255, 99, 71, 0.1);
    color: tomato;
  }

  .critical-type {
    border-color: rgba(255, 0, 0, 0.1);
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
  }
  
  .system-type {
    border-color: rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);;
    color: gray;
  }

  .read-type {
    border-color: rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);;
    color: gray;
  }
  
  .unread-type {
    border-color: rgba(100, 148, 237, 0.1);
    background-color: rgba(100, 148, 237, 0.1);
    color: cornflowerblue;
  }

  .cell-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .cell-icon {
    font-size: medium;
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
}
  