<h2 mat-dialog-title align="center">New Consumption Record
    <span>
        <h4 class="dialog-subtitle"> Save the consumption over a time period for your device</h4>
        <mat-divider></mat-divider>
    </span>
</h2>


<mat-dialog-content>
    <form [formGroup]="consumptionForm" class="consumption-form">

        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" required>
            <mat-hint align="start"><strong>Enter the date the consumption recording started</strong></mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" required>
            <mat-hint align="start"><strong>Enter the date the consumption recording ended</strong></mat-hint>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Duration Days (Consumption period)</mat-label>
            <input matInput formControlName="durationDays" placeholder="Calculated Duration" readonly="true">
            <mat-hint align="start"><strong>Automatically calculated</strong></mat-hint>
        </mat-form-field>
        <br>
        <div class="file-input-container" hidden>
            <input #fileInput type="file" id="file" accept=".csv" (change)="onFileSelected($event)" hidden>
        </div>
        <mat-form-field class="example-form-field" floatLabel="always">
            <mat-label>Power Readings File</mat-label>
            <input #fileInput matInput type="text" [value]="fileName" readonly="true" (change)="onFileSelected($event)">
            <mat-hint align="start"><strong>Choose the .csv file with the power readings for this consumption</strong></mat-hint>
                <button mat-button color="primary" style="margin-right: 10px;" mat-raised-button matSuffix aria-label="Clear" (click)="fileInput.click()">
                    <mat-icon class="file-icon">file_open</mat-icon>
                </button>
        </mat-form-field>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>