.consumption-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    mat-form-field {
        width: 100%;
    }
}

.dialog-subtitle {
    color: rgb(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
}

.file-icon {
    margin: 0px;
    transform: scale(1.1);
}

.file-input-container {
    display: none;
}

.file-input-container input[matInput] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    outline: none;
}

.file-select-button {
    margin-left: 5px;
}

/* Hide the actual file input */
input[type="file"] {
    display: none;
}

button {
    margin-left: 10px;
}