<div class="fade-in-animation">
    <div class="page-title">
        <h1><strong>STATISTICS</strong></h1>
        <div class="add-device-button">
            <button mat-raised-button color="primary">
                <mat-icon>refresh</mat-icon><span>Refresh</span>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br>

    <!-- CHARTS -->
    <div class="cards-container-charts">
        <div>
                <!-- Average Power Consumption Chart -->
                <mat-card class="dashboard-card-chart">
                    <mat-card-header>
                        <mat-card-title>Average Power Consumption</mat-card-title>
                        <mat-card-subtitle>Average power consumed per device</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <br>
                        <div *ngIf="averagePower && averagePower.length > 0; else noPowerReadingsContent">
                            <ngx-charts-number-card [results]="averagePower"
                                xAxisLabel="Device" yAxisLabel="Average Power (Watts)"
                                (select)="onChartDeviceSelect($event)">
                            </ngx-charts-number-card>
                        </div>
                    </mat-card-content>
                </mat-card>
        </div>
        <div>
            <!-- Total User Power Consumption Comparison by Category Chart -->
            <mat-card class="dashboard-card-chart">
                <mat-card-header>
                    <mat-card-title>Total Power Consumption Comparison (kWh) - Per Device Category</mat-card-title>
                    <mat-card-subtitle>Total power consumed per device category, compared to other users</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <br>
                    <div *ngIf="userTotalPowerPerCategory && userTotalPowerPerCategory.length > 0; else noPowerReadingsContent">
                        <ngx-charts-bar-vertical-2d [results]="userTotalPowerPerCategory" [xAxis]="true" [yAxis]="true" [gradient]="true" 
                        [showXAxisLabel]="true" [showYAxisLabel]="true" [legend]="true" [legendTitle]="'User'" xAxisLabel="Device Category" yAxisLabel="Total Power (kWh)"
                        [roundDomains]="true" [roundEdges]="true"
                            (select)="onChartDeviceSelect($event)">
                        </ngx-charts-bar-vertical-2d>
                    </div>
                </mat-card-content>
            </mat-card>
    </div>
        <div class="age-gender-charts">
            <!-- Average Power Consumption by Age Group Chart -->
            <mat-card class="dashboard-card-chart">
                <mat-card-header>
                    <mat-card-title>Average Total Power Consumption (kWh) - Per Age Group</mat-card-title>
                    <mat-card-subtitle>Average total power consumed per age group</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <br>
                    <div *ngIf="averagePowerConsumptionAgeGroup && averagePowerConsumptionAgeGroup.length > 0; else noPowerReadingsContent">
                        <ngx-charts-pie-chart [results]="averagePowerConsumptionAgeGroup" [trimLabels]="false" [gradient]="true"
                            [labels]="true" xAxisLabel="Age Group" yAxisLabel="Average Total Power (kWh)" [legend]="true" [legendTitle]="'Age Group'"
                            (select)="onChartDeviceSelect($event)">
                        </ngx-charts-pie-chart>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Average Power Consumption by Gender Chart -->
            <mat-card class="dashboard-card-chart">
                <mat-card-header>
                    <mat-card-title>Average Total Power Consumption (kWh) - Per Gender </mat-card-title>
                    <mat-card-subtitle>Average total power consumed per gender</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <br>
                    <div *ngIf="averagePowerConsumptionGender && averagePowerConsumptionGender.length > 0; else noPowerReadingsContent">
                        <ngx-charts-pie-chart [results]="averagePowerConsumptionGender" [trimLabels]="false" [gradient]="true"
                            [labels]="true" xAxisLabel="Gender" yAxisLabel="Average Total Power (kWh)" [legend]="true" [legendTitle]="'Gender'"
                            (select)="onChartDeviceSelect($event)">
                        </ngx-charts-pie-chart>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <ng-template #noPowerReadingsContent>
            <h3 align="center" class="rounded-label">No data available</h3>
        </ng-template>

    </div>
</div>