<div class="page-title"> 
  <h1><strong>WELCOME</strong></h1>
  <mat-divider></mat-divider>
</div>
<div class="home-content">
    <div class="center-content">
      <img src="../../../assets/logo.png" alt="app-logo" class="home-logo">
      <h1>Welcome to the Energy Management App</h1>
      <p>Efficiently manage your home energy consumption with our user-friendly tools.</p>
      <div class="button-container">
        <button *ngIf="!isAuthenticated()" mat-raised-button color="primary" routerLink="/login">Login</button>
        <button *ngIf="!isAuthenticated()" mat-raised-button color="accent" routerLink="/register">Register</button>
        <button *ngIf="isAuthenticated()" mat-raised-button color="primary" routerLink="/dashboard">Go to Dashboard</button>
      </div>
    </div>
  </div>