<div class="fade-in-animation">
  <div class="home-content">
    <div class="center-content">
      <img src="../../../assets/logo.png" alt="app-logo" class="home-logo">
      <h1 class="home-title">Welcome to Power Consumption Tracker</h1>
      <h3 class="home-subtitle">Keep track of of your devices and their consumption.</h3>
      <div class="button-container">
        <button *ngIf="!isAuthenticated()" mat-raised-button color="primary" routerLink="/login">Login</button>
        <button *ngIf="!isAuthenticated()" mat-raised-button color="accent" routerLink="/register">Register</button>
        <button *ngIf="isAuthenticated()" mat-raised-button color="primary" routerLink="/dashboard">Go to
          Dashboard</button>
      </div>
    </div>
  </div>
</div>