.user-info-card {
    padding: 20px;
    margin-bottom:40px;
}

.user-icon {
    height: auto;
    width: auto;
    font-size: 56px;
}

.form-items-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .radio-header {
    margin: 0px;
  }
  
  .radio-button {
    margin: 0 10px;
  }