.user-info-card {
    padding: 20px;
}

.user-icon {
    height: auto;
    width: auto;
    font-size: 56px;
}

.form-items-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }