<h2 mat-dialog-title align="center">{{isEditMode ? 'Edit Device' : 'New Device'}}
    <span>
        <h4 class="dialog-subtitle">{{isEditMode ? 'Edit the details of your device' : 'Add a new device to your list'}}</h4>
        <mat-divider></mat-divider>
    </span>
</h2>

<mat-dialog-content>
    <form [formGroup]="deviceForm" class="device-form">


        <div class="info-container">
            <div class="info-container-header">
                <mat-icon class="category-icon">electric_bolt</mat-icon>
                <h3 class="new-device-subtitle"><strong>Device Detail</strong></h3>
            </div>
            <mat-divider></mat-divider>
            <mat-form-field *ngIf="!isEditMode" class="form-field" appearance="fill" floatLabel="always">
                <mat-label>Device Category</mat-label>
                <mat-select formControlName="deviceCategory" required
                    (selectionChange)="onDeviceCategorySelection($event)">
                    <mat-option value="Multimedia">Multimedia</mat-option>
                    <mat-option value="Washing">Washing</mat-option>
                    <mat-option value="Kitchen">Kitchen</mat-option>
                    <mat-option value="Cooling">Cooling</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
                <mat-hint align="start"><strong>The general category that best fits your device (ex:
                        'Multimedia')</strong></mat-hint>
            </mat-form-field>

            <mat-form-field *ngIf="!isEditMode" class="form-field" appearance="fill" floatLabel="always">
                <mat-label>Device Type</mat-label>
                <mat-select formControlName="deviceType" required (selectionChange)="onDeviceTypeSelection($event)">
                    <mat-option *ngFor="let deviceType of deviceTypes" [value]="deviceType.type_name">
                        {{ deviceType.type_name }} ({{deviceType.power_min}}W - {{deviceType.power_max}}W)
                    </mat-option>
                </mat-select>
                <mat-hint align="start"><strong>The type of your device based on device category (ex:
                        'Fridge')</strong></mat-hint>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="fill" floatLabel="always">
                <mat-label>Device Name</mat-label>
                <input matInput formControlName="deviceName" required>
                <mat-hint align="start"><strong>The name of your device (ex: 'Samsung 4K TV')</strong></mat-hint>
            </mat-form-field>

            <div class="device-form-one-row">
                <mat-form-field class="form-field" appearance="fill" floatLabel="always">
                    <mat-label>Minimum Power Draw (W)</mat-label>
                    <input matInput formControlName="customPowerMin" type="number">
                    <span matSuffix class="numeric-percentage">W</span>
                    <mat-hint align="start"><strong>Typical minimum power draw</strong></mat-hint>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="fill" floatLabel="always">
                    <mat-label>Maximum Power Draw (W)</mat-label>
                    <input matInput formControlName="customPowerMax" type="number">
                    <span matSuffix class="numeric-percentage">W</span>
                    <mat-hint align="start"><strong>Typical maximum power draw</strong></mat-hint>
                </mat-form-field>
            </div>
        </div>

        <div class="info-container">
            <div class="info-container-header">
                <mat-icon class="category-icon">edit_notifications</mat-icon>
                <h3 class="new-device-subtitle"><strong>Alert Thresholds</strong></h3>
            </div>
            <mat-divider></mat-divider>
            <mat-form-field class="form-field" appearance="fill" floatLabel="always">
                <mat-label>Energy Consumption Alert Threshold (kWh)</mat-label>
                <input matInput formControlName="alertEnergyThreshold" type="number">
                <span matSuffix class="numeric-percentage">kWh</span>
                <mat-hint align="start"><strong>The energy consumption threshold for alerts (default: '0' = disabled)</strong></mat-hint>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="fill" floatLabel="always">
                <mat-label>Power Draw Threshold (W)</mat-label>
                <input matInput formControlName="alertPowerThreshold" type="number">
                <span matSuffix class="numeric-percentage">W</span>
                <mat-hint align="start"><strong>The power draw threshold for alerts (default: '0' = disabled)</strong></mat-hint>
            </mat-form-field>

        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>