.device-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    mat-form-field {
        width: 100%;
    }
}

.dialog-subtitle {
    color: rgb(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
}

.form-field {
    margin-bottom: 10px;
}

button {
    margin-left: 10px;
}

.numeric-percentage {
    padding-right: 16px;
    margin-top: 30px;
}