<div class="fade-in-animation">
    <div class="page-title">
        <div class="filter-input">
            <mat-form-field floatLabel="always" subscriptSizing="dynamic">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
            </mat-form-field>
        </div>
        <h1 style="flex: 1;"><strong>MY DEVICES</strong></h1>
        <div class="add-device-button">
            <button mat-raised-button color="primary" (click)="onAddNewDevice()">
                <mat-icon>add</mat-icon><span>Add New Device</span>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div *ngFor="let category of filteredDevicesByCategory | keyvalue" class="device-category-panel">
        <mat-expansion-panel *ngIf="hasDevicesInCategory(category.key)" (opened)="setPanelOpenState(true)"
            (closed)="setPanelOpenState(false)" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3><strong>{{ category.key | uppercase }}</strong></h3>
                </mat-panel-title>
                <mat-panel-description>
                    <h3><strong>{{ category.value.length }} devices</strong></h3>
                    <mat-icon>{{ getCategoryIcon(category.key) }}</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>
            <br>

            <div class="cards-container">
                <mat-card *ngFor="let device of category.value" class="device-card">
                    <!-- 3-dot but menu -->
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button"
                        (click)="$event.stopPropagation()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onDeviceView(device.id)">
                            <mat-icon>remove_red_eye</mat-icon><span>View</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon><span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="onDeviceRemove(device.id)">
                            <mat-icon>delete</mat-icon><span>Remove</span>
                        </button>
                    </mat-menu>
                    <!-- device header and content -->
                    <mat-card-header>
                        <div mat-card-avatar class="device-icon">
                            <mat-icon>{{ getCategoryIcon(category.key) }}</mat-icon>
                        </div>
                        <mat-card-title>{{ device.device_name }}</mat-card-title>
                        <mat-card-subtitle>{{ device.device_type }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="count-container">
                            <div class="count-item consumption-logs" #tooltip="matTooltip"
                                matTooltip="The number of consumptions recorded for this device"
                                matTooltipPosition="right">
                                <span class="count-label">Consumption Logs</span>
                                <span class="count-value">{{ device.consumption_logs_count }}</span>
                            </div>
                            <div class="count-item unread-alerts" #tooltip="matTooltip"
                                matTooltip="The number of new alerts for this device" matTooltipPosition="right">
                                <span class="count-label">New Alerts</span>
                                <span class="count-value">{{ device.unread_alerts_count }}</span>
                            </div>
                        </div>
                    </mat-card-content>
                    <br>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="onAddNewConsumption(device.id)">
                            <mat-icon>power</mat-icon><span>Add New Consumption</span>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-expansion-panel>
    </div>
</div>