<div class="page-title">
    <h1><strong>MY DEVICES</strong></h1>
    <div class="add-device-button">
        <button mat-raised-button color="primary">
            <mat-icon>add</mat-icon><span>Add New Device</span>
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<br>
<div *ngFor="let category of devicesByCategory | keyvalue" class="device-category-panel">
    <mat-expansion-panel (opened)="setPanelOpenState(true)" (closed)="setPanelOpenState(false)" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3><strong>{{ category.key | uppercase }}</strong></h3> <!-- Device Category -->
            </mat-panel-title>
            <mat-panel-description>
                <h3><strong>{{ category.value.length }} devices</strong></h3>
                <mat-icon>{{ getCategoryIcon(category.key) }}</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-divider></mat-divider>
        <br>

        <div class="cards-container">
            <mat-card *ngFor="let device of category.value" class="device-card">
                <!-- 3-dot but menu -->
                <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onDeviceView(device.id)">
                        <mat-icon>remove_red_eye</mat-icon><span>View</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>edit</mat-icon><span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="onDeviceRemove(device.id)">
                        <mat-icon>delete</mat-icon><span>Remove</span>
                    </button>
                </mat-menu>
                <!-- device header and content -->
                <mat-card-header>
                    <div mat-card-avatar class="device-icon">
                        <mat-icon>{{ getCategoryIcon(category.key) }}</mat-icon>
                    </div>
                    <mat-card-title>{{ device.device_name }}</mat-card-title>
                    <mat-card-subtitle>{{ device.device_type }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <!-- To-Do... -->
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <mat-icon>power</mat-icon><span>Log Consumption</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-expansion-panel>
</div>