.device-category-panel {
    margin-bottom: 25px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    margin-bottom: 10px;
}

.device-card {
    background-color: rgb(227, 241, 246);
}

.device-card:last-child {
    margin-bottom: 0;
}

.device-icon .mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.menu-button {
    position: absolute;
    top: 0px; 
    right: -10px;
    z-index: 1;
}

button {
    margin-right: 10px;
}


@media (max-width: 768px) {
    .device-card {
        max-width: 100%;
    }
}