<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Home Energy Consumption Monitor</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="65px" class="navigation-items">
            <li *ngIf="isAuthenticated()">
                <button mat-icon-button routerLink="/alerts">
                    <mat-icon matBadge="15" matBadgeColor="warn">notifications_active</mat-icon>
                </button>
            </li>
            <li>
                <!-- Todo: add icons later -->
            </li>
        </ul>
    </div>
</mat-toolbar>