// Global height
html,
body {
    height: 100%;
}

// Global fonts
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Global Page titles
.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 15px;
}

.page-title h1 {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 0px;
}

//Global chart X-Y Axis customization
ngx-charts-bar-vertical .x.axis text:not(.tick .ng-star-inserted) {
    font-weight: 500 !important;
    font-size: 16px !important;
}

ngx-charts-bar-vertical .y.axis text:not(.tick .ng-star-inserted) {
    font-weight: 500 !important;
    font-size: 16px !important;
}

ngx-charts-bar-vertical-stacked .x.axis text:not(.tick .ng-star-inserted) {
    font-weight: 500 !important;
    font-size: 16px !important;
}

ngx-charts-bar-vertical-stacked .y.axis text:not(.tick .ng-star-inserted) {
    font-weight: 500 !important;
    font-size: 16px !important;
}

ngx-charts-bar-vertical-2d .x.axis text:not(.tick .ng-star-inserted) {
    font-weight: 500 !important;
    font-size: 16px !important;
}

ngx-charts-bar-vertical-2d .y.axis text:not(.tick .ng-star-inserted) {
    font-weight: 500 !important;
    font-size: 16px !important;
}

ngx-charts-line-chart .x.axis text:not(.tick .ng-star-inserted, .refline-label) {
    font-weight: 500 !important;
    font-size: 16px !important;
}

ngx-charts-line-chart .y.axis text:not(.tick .ng-star-inserted, .refline-label) {
    font-weight: 500 !important;
    font-size: 16px !important;
}

ngx-charts-line-chart text.refline-label {
    font-weight: 600 !important;
    font-size: 11px !important;
}

// Global rounded-label
.rounded-label {
    width: fit-content;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgb(227, 241, 246);
    background-color: rgb(227, 241, 246);
    border-radius: 8px;
    color: black;
    font-weight: 500;
}

// Global fade-in animation
.fade-in-animation {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// Global custom scroll style
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 14px;
}

::-webkit-scrollbar:horizontal {
    height: 11px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
    .page-title .mat-mdc-form-field-type-mat-input {
        width: 100px;
    }
}