
// Global height
html, body { 
    height: 100%;
}

// Global fonts
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Global Page titles
.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 15px;
}

.page-title h1 {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 0px;
}

// Global rounded-label
.rounded-label {
    width: fit-content;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgb(227, 241, 246);
    background-color: rgb(227, 241, 246);
    border-radius: 8px;
    color: black;
    font-weight: 500;
}

// Global fade-in animation
.fade-in-animation {
    animation-name: fadeIn;
    animation-duration: 0.5s; /* or however long you want the animation to be */
    animation-fill-mode: both; /* This makes sure that the final styles are retained after the animation completes */
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

// Global custom scroll style
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 14px;
}

::-webkit-scrollbar:horizontal {
    height: 11px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}