<div class="fade-in-animation">
    <div class="page-title">
        <h1><strong>MY ALERTS</strong></h1>
    </div>
    <mat-divider></mat-divider>
    <br>
    <mat-card class="alert-mat-card" *ngFor="let alert of alerts" fxLayout="row" fxLayoutGap="10px"
        [ngClass]="{'highlighted': alert.id == highlightedAlertId}"
        [ngStyle]="{'background-color': alert.read_status === 'Y' ? 'lightgrey' : '#d2eafc'}">

        <!-- Icon -->
        <div fxFlex="50px" fxLayout="column" fxLayoutAlign="center center" class="alert-icon">
            <mat-icon mat-list-icon style="font-size: 36px;">
                <ng-container *ngIf="alert.type === 'W'">warning</ng-container>
                <ng-container *ngIf="alert.type === 'I'">info</ng-container>
                <ng-container *ngIf="alert.type === 'U'">account_circle</ng-container>
            </mat-icon>
        </div>

        <!-- Title, Device / Date, Description  -->
        <div fxFlex="40%" fxLayout="column" fxLayoutAlign="start start">
            <mat-card-title>{{alert.title}}</mat-card-title>
            <mat-card-subtitle fxFlexAlign="start">
                {{ alert.device_id ? ('[' + alert.device_type +'] - ' + alert.device_name) : 'System - User Account' }}
                <br> {{ alert.date | date:'dd/MM/yyyy, h:mm a' }}
            </mat-card-subtitle>
            <mat-card-content fxFlexAlign="start"><strong>{{alert.description}}</strong></mat-card-content>
        </div>

        <!-- Go To Device -->
        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-actions>
                <button mat-raised-button extended color="primary" (click)="onButtonClick(alert.device_id)">
                    <mat-icon>developer_board</mat-icon>{{ alert.device_id ? ('VIEW DEVICE') : 'VIEW ACCOUNT' }}
                </button>
            </mat-card-actions>
        </div>

        <!-- Mark As Read -->
        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-actions>
                <ng-container *ngIf="alert.read_status === 'Y'">
                    <span style="color: gray">READ</span>
                </ng-container>
                <ng-container *ngIf="alert.read_status === 'N'">
                    <mat-checkbox color="primary" (change)="onMarkAsRead(alert)">MARK AS READ</mat-checkbox>
                </ng-container>
            </mat-card-actions>
        </div>
    </mat-card>
</div>