<ng-template #loginSuccess>
  <mat-card-title class="item-centered">Login successful !</mat-card-title>
  <mat-card-subtitle class="item-centered">You have logged in to your account successfully</mat-card-subtitle>
  <div class="wrapper">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
  </div>
</ng-template>

<mat-card class="login-card">
  <div *ngIf="!isAuthenticated() else loginSuccess">
    <mat-card-title class="item-centered">Login</mat-card-title>
    <mat-card-subtitle class="item-centered">Please use your credentials to login to your account</mat-card-subtitle>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <mat-form-field class="form-items-centered">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field class="form-items-centered">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="form-items-centered">
      <button [disabled]="username == '' || password == ''" mat-raised-button color="primary"
        (click)="login()">Login</button>
      <br>
      <a routerLink="/register">Register an account</a>
      <a routerLink="/home">Forgot password?</a>
    </mat-card-actions>
  </div>
</mat-card>