<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/dashboard" (click)="onSidenavClose()">
        <mat-icon>dashboard</mat-icon> <span class="nav-caption">Dashboard</span>   
    </a>
    <a mat-list-item routerLink="/devices" (click)="onSidenavClose()">
        <mat-icon>important_devices</mat-icon> <span class="nav-caption">My Devices</span>   
    </a>
    <a mat-list-item routerLink="/alerts" (click)="onSidenavClose()">
        <mat-icon>notifications_active</mat-icon> <span class="nav-caption">My Alerts</span>   
    </a>
    <a mat-list-item routerLink="/statistics" (click)="onSidenavClose()">
        <mat-icon>insert_chart</mat-icon> <span class="nav-caption">Statistics</span>   
    </a>
    <hr>
    <a mat-list-item routerLink="/account" (click)="onSidenavClose()">
        <mat-icon>account_box</mat-icon><span class="nav-caption">My Account</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>register</mat-icon><span class="nav-caption">Register</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>login</mat-icon><span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>logout</mat-icon><span class="nav-caption">Logout</span>
    </a>
  </mat-nav-list>