a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}
  
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

:host ::ng-deep .mat-mdc-list-item-unscoped-content {
    display: flex !important;
    align-items: center !important;
}

.sidenav-footer {
    padding: 10px 0px 10px 0px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    color: #333;
}

.footer-link-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.footer-link {
    color: darkblue;
}

.vertical-divider {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    height: 12px;
}

.horizontal-divider {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}
